# NAIVE BAYES CLASSIFICATION

In [40]:
import pandas as pd
import matplotlib.pyplot as plt

In [41]:
d=pd.read_csv('D:\\ML_MODELS\Book1.csv')
d

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,"Montvila, Rev. Juozas",2,male,27.0,0,0,211536,13.0000,NaN,S,0
887,888,"Graham, Miss. Margaret Edith",1,female,19.0,0,0,112053,30.0000,B42,S,1
888,889,"Johnston, Miss. Catherine Helen ""Carrie""",3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S,0
889,890,"Behr, Mr. Karl Howell",1,male,26.0,0,0,111369,30.0000,C148,C,1
890,891,"Dooley, Mr. Patrick",3,male,32.0,0,0,370376,7.7500,NaN,Q,0

In [42]:
d.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [43]:
d.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
d

     Pclass     Sex   Age     Fare  Survived
0         3    male  22.0   7.2500         0
1         1  female  38.0  71.2833         1
2         3  female  26.0   7.9250         1
3         1  female  35.0  53.1000         1
4         3    male  35.0   8.0500         0
..      ...     ...   ...      ...       ...
886       2    male  27.0  13.0000         0
887       1  female  19.0  30.0000         1
888       3  female   NaN  23.4500         0
889       1    male  26.0  30.0000         1
890       3    male  32.0   7.7500         0

[891 rows x 5 columns]

In [44]:
d.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [76]:
d

     Pclass        Age     Fare  female  male
0         3  22.000000   7.2500       0     1
1         1  38.000000  71.2833       1     0
2         3  26.000000   7.9250       1     0
3         1  35.000000  53.1000       1     0
4         3  35.000000   8.0500       0     1
..      ...        ...      ...     ...   ...
886       2  27.000000  13.0000       0     1
887       1  19.000000  30.0000       1     0
888       3  29.699118  23.4500       1     0
889       1  26.000000  30.0000       0     1
890       3  32.000000   7.7500       0     1

[891 rows x 5 columns]

In [77]:
tar

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [78]:
d=d.drop(['Survived'],axis='columns')
d

KeyError: "['Survived'] not found in axis"

In [79]:
d1=pd.get_dummies(d.Sex)
d1

AttributeError: 'DataFrame' object has no attribute 'Sex'

In [80]:
d=d.drop(['Sex'],axis='columns')
d

KeyError: "['Sex'] not found in axis"

In [81]:
d=pd.concat([d,d1],axis='columns')
d

     Pclass        Age     Fare  female  male  female  male
0         3  22.000000   7.2500       0     1       0     1
1         1  38.000000  71.2833       1     0       1     0
2         3  26.000000   7.9250       1     0       1     0
3         1  35.000000  53.1000       1     0       1     0
4         3  35.000000   8.0500       0     1       0     1
..      ...        ...      ...     ...   ...     ...   ...
886       2  27.000000  13.0000       0     1       0     1
887       1  19.000000  30.0000       1     0       1     0
888       3  29.699118  23.4500       1     0       1     0
889       1  26.000000  30.0000       0     1       0     1
890       3  32.000000   7.7500       0     1       0     1

[891 rows x 7 columns]

In [82]:
d.columns[d.isna().any()]

Index([], dtype='object')

In [83]:
d.Age[:20]

0     22.000000
1     38.000000
2     26.000000
3     35.000000
4     35.000000
5     29.699118
6     54.000000
7      2.000000
8     27.000000
9     14.000000
10     4.000000
11    58.000000
12    20.000000
13    39.000000
14    14.000000
15    55.000000
16     2.000000
17    29.699118
18    31.000000
19    29.699118
Name: Age, dtype: float64

In [84]:
d.Age=d.Age.fillna(d.Age.mean())
d.Age[:20]

0     22.000000
1     38.000000
2     26.000000
3     35.000000
4     35.000000
5     29.699118
6     54.000000
7      2.000000
8     27.000000
9     14.000000
10     4.000000
11    58.000000
12    20.000000
13    39.000000
14    14.000000
15    55.000000
16     2.000000
17    29.699118
18    31.000000
19    29.699118
Name: Age, dtype: float64

In [85]:
from sklearn.model_selection import train_test_split

In [86]:
x_train,x_test,y_train,y_test=train_test_split(d,tar,test_size=0.2)

In [87]:
len(x_train),len(x_test),len(y_train),len(y_test)

(712, 179, 712, 179)

In [88]:
from sklearn.naive_bayes import GaussianNB
obj=GaussianNB()

In [89]:
obj

GaussianNB()

In [90]:
obj.fit(x_train,y_train)

GaussianNB()

In [91]:
obj.score(x_test,y_test)

0.7877094972067039

In [94]:
obj.predict(x_test)[:10]

array([0, 1, 0, 0, 1, 1, 1, 0, 1, 0], dtype=int64)

In [95]:
y_test[:10]

73     0
356    1
313    0
411    0
8      1
618    1
670    1
339    0
799    0
768    0
Name: Survived, dtype: int64

In [97]:
obj.predict_proba(x_test)

array([[9.99306650e-01, 6.93350397e-04],
       [6.55187565e-05, 9.99934481e-01],
       [9.99308420e-01, 6.91579642e-04],
       [9.99312150e-01, 6.87850192e-04],
       [1.03395859e-03, 9.98966041e-01],
       [1.89492748e-04, 9.99810507e-01],
       [3.58915340e-04, 9.99641085e-01],
       [9.92374405e-01, 7.62559493e-03],
       [1.03103008e-03, 9.98968970e-01],
       [9.99307579e-01, 6.92420761e-04],
       [9.99295285e-01, 7.04714718e-04],
       [9.94867176e-01, 5.13282428e-03],
       [9.99266249e-01, 7.33751353e-04],
       [3.54577798e-05, 9.99964542e-01],
       [9.98411022e-01, 1.58897801e-03],
       [1.00711417e-03, 9.98992886e-01],
       [9.98303349e-01, 1.69665103e-03],
       [1.04049043e-03, 9.98959510e-01],
       [9.97971554e-01, 2.02844574e-03],
       [9.99006947e-01, 9.93052533e-04],
       [9.99313535e-01, 6.86465075e-04],
       [9.99308288e-01, 6.91712253e-04],
       [9.99248982e-01, 7.51018344e-04],
       [9.99189486e-01, 8.10514338e-04],
       [9.93056467e-01, 6.94353321e-03],
       [9.99315199e-01, 6.84800923e-04],
       [9.99192879e-01, 8.07120655e-04],
       [1.03678873e-03, 9.98963211e-01],
       [9.98240876e-01, 1.75912428e-03],
       [2.13891804e-13, 1.00000000e+00],
       [1.04108494e-03, 9.98958915e-01],
       [9.96722170e-01, 3.27783049e-03],
       [9.99316333e-01, 6.83666863e-04],
       [9.98169916e-01, 1.83008429e-03],
       [9.99326309e-01, 6.73690556e-04],
       [9.93631559e-01, 6.36844126e-03],
       [3.62866776e-10, 1.00000000e+00],
       [9.96424660e-04, 9.99003575e-01],
       [9.99315663e-01, 6.84337496e-04],
       [9.98822389e-01, 1.17761102e-03],
       [9.99320980e-01, 6.79020315e-04],
       [7.71977989e-05, 9.99922802e-01],
       [9.99315199e-01, 6.84800923e-04],
       [9.99313463e-01, 6.86536824e-04],
       [9.99150247e-01, 8.49752905e-04],
       [9.99320189e-01, 6.79810779e-04],
       [9.99315199e-01, 6.84800923e-04],
       [4.60108350e-04, 9.99539892e-01],
       [9.99295914e-01, 7.04086010e-04],
       [9.99315663e-01, 6.84337496e-04],
       [9.99315663e-01, 6.84337496e-04],
       [2.24256389e-04, 9.99775744e-01],
       [6.95495254e-04, 9.99304505e-01],
       [9.95762255e-01, 4.23774517e-03],
       [9.99313449e-01, 6.86551337e-04],
       [9.99317225e-01, 6.82774511e-04],
       [9.99295933e-01, 7.04066947e-04],
       [4.27283861e-04, 9.99572716e-01],
       [9.71376245e-01, 2.86237553e-02],
       [9.99307579e-01, 6.92420761e-04],
       [4.21165395e-04, 9.99578835e-01],
       [6.73873021e-05, 9.99932613e-01],
       [9.19421037e-04, 9.99080579e-01],
       [9.99314394e-01, 6.85605648e-04],
       [9.99259188e-01, 7.40812163e-04],
       [9.54733470e-04, 9.99045267e-01],
       [9.99320575e-01, 6.79425487e-04],
       [9.86651432e-01, 1.33485682e-02],
       [9.94629686e-01, 5.37031389e-03],
       [9.99245453e-01, 7.54547204e-04],
       [1.99499670e-05, 9.99980050e-01],
       [9.99305205e-01, 6.94794775e-04],
       [9.99295420e-01, 7.04579616e-04],
       [9.98422635e-01, 1.57736475e-03],
       [1.05291524e-03, 9.98947085e-01],
       [9.99324098e-01, 6.75902315e-04],
       [8.42057894e-04, 9.99157942e-01],
       [9.99329856e-01, 6.70144233e-04],
       [9.99143938e-01, 8.56061659e-04],
       [9.99315663e-01, 6.84337496e-04],
       [1.99225333e-04, 9.99800775e-01],
       [9.99316142e-01, 6.83858062e-04],
       [9.99315199e-01, 6.84800923e-04],
       [9.98814710e-01, 1.18528990e-03],
       [9.98303349e-01, 1.69665103e-03],
       [9.99268534e-01, 7.31465817e-04],
       [9.99317567e-01, 6.82432646e-04],
       [9.88864650e-01, 1.11353502e-02],
       [9.99312922e-01, 6.87078392e-04],
       [9.22058899e-04, 9.99077941e-01],
       [9.68309118e-05, 9.99903169e-01],
       [9.97841475e-01, 2.15852535e-03],
       [9.98099622e-01, 1.90037781e-03],
       [9.98080937e-01, 1.91906322e-03],
       [9.97710151e-01, 2.28984914e-03],
       [9.90370195e-01, 9.62980475e-03],
       [6.12680131e-04, 9.99387320e-01],
       [9.93612468e-01, 6.38753164e-03],
       [9.93189474e-01, 6.81052637e-03],
       [9.98207805e-01, 1.79219533e-03],
       [9.98769704e-01, 1.23029581e-03],
       [9.98354470e-01, 1.64553028e-03],
       [4.22317680e-11, 1.00000000e+00],
       [9.98422575e-01, 1.57742480e-03],
       [1.03845350e-03, 9.98961547e-01],
       [4.32357416e-04, 9.99567643e-01],
       [4.25749050e-04, 9.99574251e-01],
       [9.98779668e-01, 1.22033167e-03],
       [9.93428794e-01, 6.57120610e-03],
       [9.60519013e-01, 3.94809871e-02],
       [9.93676894e-01, 6.32310579e-03],
       [4.46502448e-04, 9.99553498e-01],
       [9.99287030e-01, 7.12970296e-04],
       [9.98368422e-01, 1.63157835e-03],
       [9.70004210e-01, 2.99957897e-02],
       [9.98160416e-01, 1.83958443e-03],
       [7.49459578e-05, 9.99925054e-01],
       [9.99319491e-01, 6.80508906e-04],
       [9.98306553e-01, 1.69344675e-03],
       [9.99324554e-01, 6.75445658e-04],
       [9.99312631e-01, 6.87368644e-04],
       [9.98922881e-01, 1.07711854e-03],
       [3.80275567e-04, 9.99619724e-01],
       [9.99315663e-01, 6.84337496e-04],
       [9.93569744e-01, 6.43025625e-03],
       [8.32742463e-04, 9.99167258e-01],
       [9.99241560e-01, 7.58439569e-04],
       [4.27774443e-04, 9.99572226e-01],
       [9.99305207e-01, 6.94793017e-04],
       [9.98752132e-01, 1.24786819e-03],
       [9.98397227e-01, 1.60277291e-03],
       [4.33399959e-04, 9.99566600e-01],
       [9.99299387e-01, 7.00613417e-04],
       [9.94266038e-01, 5.73396244e-03],
       [9.98160416e-01, 1.83958443e-03],
       [9.74429232e-01, 2.55707675e-02],
       [1.80655250e-05, 9.99981934e-01],
       [1.03973952e-03, 9.98960260e-01],
       [9.98419846e-01, 1.58015430e-03],
       [1.66562070e-05, 9.99983344e-01],
       [4.83036215e-04, 9.99516964e-01],
       [3.74485929e-04, 9.99625514e-01],
       [9.98403795e-01, 1.59620550e-03],
       [9.98835018e-01, 1.16498205e-03],
       [9.99207922e-01, 7.92078297e-04],
       [9.99149985e-01, 8.50014790e-04],
       [9.99169975e-01, 8.30024558e-04],
       [9.98933560e-01, 1.06643968e-03],
       [2.75023617e-05, 9.99972498e-01],
       [9.75536333e-01, 2.44636670e-02],
       [2.59941787e-05, 9.99974006e-01],
       [1.04171017e-03, 9.98958290e-01],
       [9.99275955e-01, 7.24044720e-04],
       [9.97172724e-01, 2.82727588e-03],
       [9.97926725e-01, 2.07327497e-03],
       [9.99319748e-01, 6.80251516e-04],
       [9.99303295e-01, 6.96704539e-04],
       [9.99320980e-01, 6.79020315e-04],
       [1.02785555e-03, 9.98972144e-01],
       [1.72877810e-04, 9.99827122e-01],
       [9.98406855e-01, 1.59314528e-03],
       [6.68700828e-04, 9.99331299e-01],
       [9.98822389e-01, 1.17761102e-03],
       [9.98643132e-01, 1.35686803e-03],
       [4.61323801e-04, 9.99538676e-01],
       [4.16836533e-07, 9.99999583e-01],
       [9.87406465e-01, 1.25935355e-02],
       [8.89916899e-04, 9.99110083e-01],
       [9.34940725e-04, 9.99065059e-01],
       [9.99240289e-01, 7.59710671e-04],
       [9.99316747e-01, 6.83253187e-04],
       [1.02232981e-03, 9.98977670e-01],
       [9.99289290e-01, 7.10710190e-04],
       [9.92173485e-01, 7.82651534e-03],
       [9.99318459e-01, 6.81540570e-04],
       [9.99313654e-01, 6.86345782e-04],
       [9.63300483e-01, 3.66995175e-02],
       [9.70662640e-01, 2.93373601e-02],
       [9.98406346e-01, 1.59365446e-03]])